In [1]:
import pandas as pd

# Indexing exercises

인덱싱을 잘해야 DataFrame이 예쁘다

In [5]:
pd.read_csv('dataset\student_feedback.csv')

,Unnamed: 0,Student ID,Well versed with the subject,Explains concepts in an understandable way,Use of presentations,Degree of difficulty of assignments,Solves doubts willingly,Structuring of the course,Provides support for students going above and beyond,Course recommendation based on relevance
0,0,340,5,2,7,6,9,2,1,8
1,1,253,6,5,8,6,2,1,2,9
2,2,680,7,7,6,5,4,2,3,1
3,3,806,9,6,7,1,5,9,4,6
4,4,632,8,10,8,4,6,6,9,9
...,...,...,...,...,...,...,...,...,...,...
996,996,55,8,7,6,2,5,7,7,9
997,997,913,5,5,6,5,6,7,6,1
998,998,199,9,5,8,3,8,1,1,2
999,999,539,10,2,7,4,3,4,10,1
1000,1000,759,7,2,4,2,1,5,9,9

In [79]:
# index col을 새로 만들지 않고 Unnamed:0 col을 그냥 index col로 쓰기

df = pd.read_csv('dataset\student_feedback.csv', index_col=0)

In [80]:
df

,Student ID,Well versed with the subject,Explains concepts in an understandable way,Use of presentations,Degree of difficulty of assignments,Solves doubts willingly,Structuring of the course,Provides support for students going above and beyond,Course recommendation based on relevance
0,340,5,2,7,6,9,2,1,8
1,253,6,5,8,6,2,1,2,9
2,680,7,7,6,5,4,2,3,1
3,806,9,6,7,1,5,9,4,6
4,632,8,10,8,4,6,6,9,9
...,...,...,...,...,...,...,...,...,...
996,55,8,7,6,2,5,7,7,9
997,913,5,5,6,5,6,7,6,1
998,199,9,5,8,3,8,1,1,2
999,539,10,2,7,4,3,4,10,1
1000,759,7,2,4,2,1,5,9,9

In [95]:
df.rename(columns=hindex_col, inplace=True, errors='raise')

KeyError: "['학생 ID', '주제를 잘 파악한 학생', '개념을 이해할 수 있도록 설명할 수 있음', '프레젠테이션을 이용한 학생', '과제의 난이도', '과제를 기꺼이 품', '과정을 계획함', '주제를 넘는 과제를 제공', '관련성'] not found in axis"

In [91]:
hindex_col

0                     학생 ID
1              주제를 잘 파악한 학생
2    개념을 이해할 수 있도록 설명할 수 있음
3            프레젠테이션을 이용한 학생
4                   과제의 난이도
5                 과제를 기꺼이 품
6                   과정을 계획함
7             주제를 넘는 과제를 제공
8                       관련성
dtype: object

In [88]:
df

,Student ID,Well versed with the subject,Explains concepts in an understandable way,Use of presentations,Degree of difficulty of assignments,Solves doubts willingly,Structuring of the course,Provides support for students going above and beyond,Course recommendation based on relevance
0,340,5,2,7,6,9,2,1,8
1,253,6,5,8,6,2,1,2,9
2,680,7,7,6,5,4,2,3,1
3,806,9,6,7,1,5,9,4,6
4,632,8,10,8,4,6,6,9,9
...,...,...,...,...,...,...,...,...,...
996,55,8,7,6,2,5,7,7,9
997,913,5,5,6,5,6,7,6,1
998,199,9,5,8,3,8,1,1,2
999,539,10,2,7,4,3,4,10,1
1000,759,7,2,4,2,1,5,9,9

## columns의 맨 첫줄 바꾸기

In [73]:
df.columns = hindex_col
df

,학생 ID,주제를 잘 파악한 학생,개념을 이해할 수 있도록 설명할 수 있음,프레젠테이션을 이용한 학생,과제의 난이도,과제를 기꺼이 품,과정을 계획함,주제를 넘는 과제를 제공,관련성
0,340,5,2,7,6,9,2,1,8
1,253,6,5,8,6,2,1,2,9
2,680,7,7,6,5,4,2,3,1
3,806,9,6,7,1,5,9,4,6
4,632,8,10,8,4,6,6,9,9
...,...,...,...,...,...,...,...,...,...
996,55,8,7,6,2,5,7,7,9
997,913,5,5,6,5,6,7,6,1
998,199,9,5,8,3,8,1,1,2
999,539,10,2,7,4,3,4,10,1
1000,759,7,2,4,2,1,5,9,9

In [55]:
df

,학생 ID,주제를 잘 파악한 학생,개념을 이해할 수 있도록 설명할 수 있음,프레젠테이션을 이용한 학생,과제의 난이도,과제를 기꺼이 품,과정을 계획함,주제를 넘는 과제를 제공,관련성
0,340,5,2,7,6,9,2,1,8
1,253,6,5,8,6,2,1,2,9
2,680,7,7,6,5,4,2,3,1
3,806,9,6,7,1,5,9,4,6
4,632,8,10,8,4,6,6,9,9
...,...,...,...,...,...,...,...,...,...
996,55,8,7,6,2,5,7,7,9
997,913,5,5,6,5,6,7,6,1
998,199,9,5,8,3,8,1,1,2
999,539,10,2,7,4,3,4,10,1
1000,759,7,2,4,2,1,5,9,9