# Moving Line race

In [132]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## 데이터 쓰다듬기

In [154]:
df = pd.read_csv("data/2020 Best movie data.csv", thousands=',', encoding='utf-8')

In [155]:
df

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,NaN,NaN,NaN,NaN,점유율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,소울,2021-01-20,7.936307e+09,50.3%,7.936307e+09,874999.0,874999.0,2018.0,63209.0,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
2,2.0,극장판 귀멸의 칼날: 무한열차편,2021-01-27,1.820103e+09,11.5%,1.820103e+09,206309.0,206309.0,380.0,5816.0,일본,일본,워터홀컴퍼니(주)
3,3.0,원더 우먼 1984,2020-12-23,1.445202e+09,9.2%,4.935633e+09,155562.0,546548.0,1877.0,38241.0,미국,미국,워너브러더스 코리아(주)
4,4.0,화양연화,2000-10-20,4.788446e+08,3.0%,8.788253e+08,52142.0,100156.0,447.0,12472.0,홍콩,"홍콩,프랑스",(주)디스테이션
...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,478.0,투캅스,1993-12-18,0.000000e+00,0.0%,2.200000e+05,0.0,41.0,1.0,2.0,한국,한국,NaN
480,478.0,후쿠오카,2020-08-27,0.000000e+00,0.0%,4.403902e+07,0.0,5447.0,1.0,1.0,한국,한국,"(주)률필름,㈜인디스토리"
481,478.0,주유소 습격사건,1999-10-02,0.000000e+00,0.0%,0.000000e+00,0.0,0.0,1.0,1.0,한국,한국,(주)시네마서비스
482,478.0,야구소녀,2020-06-18,0.000000e+00,0.0%,3.193607e+08,0.0,37409.0,1.0,1.0,한국,한국,"(주)싸이더스,찬란"
483,478.0,여고괴담,1998-05-30,0.000000e+00,0.0%,2.745000e+05,0.0,41.0,1.0,1.0,한국,한국,NaN

# 필요 없는 데이터 삭제

In [156]:
df = df.drop([0])

In [157]:
df

,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
1,1.0,소울,2021-01-20,7.936307e+09,50.3%,7.936307e+09,874999.0,874999.0,2018.0,63209.0,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
2,2.0,극장판 귀멸의 칼날: 무한열차편,2021-01-27,1.820103e+09,11.5%,1.820103e+09,206309.0,206309.0,380.0,5816.0,일본,일본,워터홀컴퍼니(주)
3,3.0,원더 우먼 1984,2020-12-23,1.445202e+09,9.2%,4.935633e+09,155562.0,546548.0,1877.0,38241.0,미국,미국,워너브러더스 코리아(주)
4,4.0,화양연화,2000-10-20,4.788446e+08,3.0%,8.788253e+08,52142.0,100156.0,447.0,12472.0,홍콩,"홍콩,프랑스",(주)디스테이션
5,5.0,세자매,2021-01-27,3.544512e+08,2.2%,3.545682e+08,42290.0,42301.0,569.0,5876.0,한국,한국,(주)리틀빅픽쳐스
...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,478.0,투캅스,1993-12-18,0.000000e+00,0.0%,2.200000e+05,0.0,41.0,1.0,2.0,한국,한국,NaN
480,478.0,후쿠오카,2020-08-27,0.000000e+00,0.0%,4.403902e+07,0.0,5447.0,1.0,1.0,한국,한국,"(주)률필름,㈜인디스토리"
481,478.0,주유소 습격사건,1999-10-02,0.000000e+00,0.0%,0.000000e+00,0.0,0.0,1.0,1.0,한국,한국,(주)시네마서비스
482,478.0,야구소녀,2020-06-18,0.000000e+00,0.0%,3.193607e+08,0.0,37409.0,1.0,1.0,한국,한국,"(주)싸이더스,찬란"
483,478.0,여고괴담,1998-05-30,0.000000e+00,0.0%,2.745000e+05,0.0,41.0,1.0,1.0,한국,한국,NaN

### Object로 되어있는 날짜 Datetime으로 고치기

In [158]:
df['개봉일'] = pd.to_datetime(df['개봉일'], format='%Y-%m-%d', errors='raise')

In [159]:
df = df.drop(['국적 ', '배급사 ', '대표국적 '], axis=1)

In [160]:
df['개봉일']

1     2021-01-20
2     2021-01-27
3     2020-12-23
4     2000-10-20
5     2021-01-27
         ...
479   1993-12-18
480   2020-08-27
481   1999-10-02
482   2020-06-18
483   1998-05-30
Name: 개봉일, Length: 483, dtype: datetime64[ns]

### 마스킹을 통해 비교 연산자를 이용한 True값만 남기기

In [232]:
mask = (df['개봉일'] > '2021-01-01') & (df['관객수 '] > 10000)

In [233]:
df_new = df.loc[mask]

In [234]:
df_filtered = df_new[['순위', '영화명', '개봉일', '관객수 ']]

In [235]:
df_filtered

      순위                영화명        개봉일      관객수
1    1.0                 소울 2021-01-20  874999.0
2    2.0  극장판 귀멸의 칼날: 무한열차편 2021-01-27  206309.0
5    5.0                세자매 2021-01-27   42290.0
6    6.0   명탐정 코난: 진홍의 수학여행 2021-01-27   38131.0
8    8.0            아이 엠 우먼 2021-01-14   21913.0
11  11.0               블라인드 2021-01-14   18297.0
12  12.0             #아이엠히어 2021-01-14   16290.0
13  13.0   빅풋 주니어2: 패밀리가 떴다 2021-01-06   14682.0
14  14.0                커넥트 2021-01-20   14140.0
16  16.0             미스터 존스 2021-01-07   10727.0

In [236]:
# 순위 다시 매기기

ranked_df = df_filtered['관객수 '].rank(ascending=False)

In [237]:
ranked_df

1      1.0
2      2.0
5      3.0
6      4.0
8      5.0
11     6.0
12     7.0
13     8.0
14     9.0
16    10.0
Name: 관객수 , dtype: float64

In [238]:
df_filtered.replace(df_filtered['순위'], ranked_df)

      순위                영화명        개봉일      관객수
1    1.0                 소울 2021-01-20  874999.0
2    2.0  극장판 귀멸의 칼날: 무한열차편 2021-01-27  206309.0
5    5.0                세자매 2021-01-27   42290.0
6    6.0   명탐정 코난: 진홍의 수학여행 2021-01-27   38131.0
8    8.0            아이 엠 우먼 2021-01-14   21913.0
11  11.0               블라인드 2021-01-14   18297.0
12  12.0             #아이엠히어 2021-01-14   16290.0
13  13.0   빅풋 주니어2: 패밀리가 떴다 2021-01-06   14682.0
14  14.0                커넥트 2021-01-20   14140.0
16  16.0             미스터 존스 2021-01-07   10727.0

In [239]:
df_filtered

      순위                영화명        개봉일      관객수
1    1.0                 소울 2021-01-20  874999.0
2    2.0  극장판 귀멸의 칼날: 무한열차편 2021-01-27  206309.0
5    5.0                세자매 2021-01-27   42290.0
6    6.0   명탐정 코난: 진홍의 수학여행 2021-01-27   38131.0
8    8.0            아이 엠 우먼 2021-01-14   21913.0
11  11.0               블라인드 2021-01-14   18297.0
12  12.0             #아이엠히어 2021-01-14   16290.0
13  13.0   빅풋 주니어2: 패밀리가 떴다 2021-01-06   14682.0
14  14.0                커넥트 2021-01-20   14140.0
16  16.0             미스터 존스 2021-01-07   10727.0

> 2021-01-04

- 이제 시계열 연속성을 만들어야 한다